<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>Listar Livros</h1>
    {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>

            <td>
                <a href="{% url 'autor' livro.autor.id %}">
                    {{ livro.autor.nome }}
                </a>
            </td>

            <td>{{ livro.ano_publicacao }}</td>
            <td>{{ livro.disponivel }}</td>
        </tr>
    {% endfor %}
</body>
</html>